@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Covered+By+Your+Grace&family=Finger+Paint&family=Gloria+Hallelujah&family=Permanent+Marker&family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Finger Paint', sans-serif;
    font-weight: 300;
    color: #FAEDF0;
    

}

#heading {
    margin-left: 5%;
    float: left;
    font-size: 250%;
    padding: 15px;
    
}

.hidden-word {
    border-bottom: solid 2px #FAEDF0;
    color: #406343;
    margin-left: 30px;
}

.rules {
    background-color: #406343;
    border: 10px groove brown;
    margin-top: 50px;
}

.rules ul {
    padding-left: 30px;
}

.subject-choice-screen {
    float: left;
    background-color: #406343;
    border: 10px groove brown;
    z-index: 1;
    height:50vh;
    width:50vw;
    margin:20%;
    text-align: center;
}



.subject {
    background-color: #406343;
    font-family: inherit;
    color: inherit;
    display: block;
}


.game-area {
    flex-direction: column;
    background-color: #406343;
    
    padding:20px;
    margin:20px;
    border:10px groove brown;
    height: 120vh;
}

#hangman {
    margin-top: 67px;
    display: none;
}

#hangman span {
    border:solid 4px #FAEDF0;
    background-color: #FAEDF0;
}

#hangman div{
     background: #FAEDF0;
     
    

}
    
#hangman .side-bar{
    width:8px;
    height:368px;
    margin-left: 10px;
    
}

#hangman .top-bar {
    width:131px;
    height:8px;
    margin-left:10px;
    
}

#hangman .noose {
    float: left;
    height: 55px;
    margin-left: 133px;
    margin-top: -370px;
   
}


#hangman .head {
    width: 37px;
    height: 45px;
    border-radius: 100%;
    background: none;
    border:solid 8px #FAEDF0;
    float:left;
    margin-top: -308px;
    margin-left: 110px;
}

#hangman .body {
    height: 84px;
    float: left;
    margin-top: -248px;
    margin-left: 132px;
}

#hangman .right-arm {
    margin-left: 111px;
    float: left;
    height: 50px;
    margin-top: -256px;
    transform: rotate(
134deg
);
}

#hangman .left-arm {
    margin-left: 155px;
    float: left;
    height: 50px;
    margin-top: -256px;
    transform: rotate( 
45deg
 );
}

#hangman .right-leg {
    margin-left: 109px;
    float: left;
    height: 74px;
    margin-top: -169px;
    transform: rotate(
        36deg
        );
}

#hangman .left-leg {
    margin-left: 155px;
    float: left;
    height: 74px;
    margin-top: -169px;
    transform: rotate(
144deg
)
}#hangman .bottom-bar {
    float:left;
    width: 207px;
}


#word {
    float: left;
    margin-top: 20px;
    font-size: 30px;
}

.letter {
    border-bottom: solid #FAEDF0;
}

.winner-screen {
    flex-direction: column;
    background-color: #406343;
    border: 10px groove brown;
    z-index: 1;
    height:50vh;
    width:50vw;
    margin: -46vh 12%;
}

.looser-screen {
    flex-direction: column;
    background-color: #406343;
    border: 10px groove brown;
    display: none;
    z-index: 1;
    height:50vh;
    width:50vw;
    margin: -46vh 12%;
}

.hide {
    display: none;
}