@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Covered+By+Your+Grace&family=Finger+Paint&family=Gloria+Hallelujah&family=Permanent+Marker&family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Finger Paint', sans-serif;
    font-weight: 300;
    color: #FAEDF0;
    display: flex;
    

}

#heading {
    justify-content: center;
    font-size: 250%;
    padding: 7px;
    
}

.hidden-word {
    border-bottom: solid 2px #FAEDF0;
    margin-left: 30px;    
}

.hidden-letter {
    color: transparent;

}
#button-rules:hover {
    background-color: #FAEDF0;
    color: #406343;
    font-size: 22px;
    font-family: 'Finger Paint', sans-serif;
}

#button-rules {
    background-color: #406343;
    font-family: 'Finger Paint', sans-serif;
    color: #FAEDF0;
    font-size: 20px;
}

#subject-choice-button {
    background-color: #406343;
    font-family: 'Finger Paint', sans-serif;
    color: #FAEDF0;
    font-size: 20px;
    margin-left: 5px;

}

#subject-choice-button:hover {
    background-color: #FAEDF0;
    color: #406343;
    font-size: 22px;
    font-family: 'Finger Paint', sans-serif;
}

.rules {
    
    justify-content: center;
    background-color: #406343;
    border: 2px groove #FAEDF0;
    margin-top: 50px;
    padding: 10px;
    margin: auto;
    max-width: 527px;
}

.rules ul {
    padding-left: 30px;
}

.subject-choice-screen {
    background-color: #406343;
    z-index: 1;
    height:36vh;
    width:100%;
    margin: auto;
    border: 2px groove white;
    max-width: 436px;
}



.subject {
    background-color: #406343;
    font-family: inherit;
    color: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    line-height: 3;
}

.subject:hover {
    background-color: #FAEDF0;
    font-family: inherit;
    color: #406343;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height: 3;
    border-radius: 5px;
}

.subject-title {
    text-align: center;
    text-decoration: underline;
    
}


.game-area {
    justify-items: center;
    background-color: #406343;
    padding: 16px;
    margin: 4px;
    border: 25px groove brown;
    height: 109vh;
    width: 100%;
}

#hangman {
    margin-top: 67px;
    height: 370px;
}

#hangman span {
    border:solid 4px #FAEDF0;
    background-color: #FAEDF0;
}

#hangman div{
    background: #FAEDF0;

    

}
    
#hangman .side-bar{
    width:8px;
    height:368px;
    margin-left: 10px;
    
}

#hangman .top-bar {
    width:131px;
    height:8px;
    margin-left:10px;
    
}

#hangman .noose {
    float: left;
    height: 55px;
    margin-left: 133px;
    margin-top: -370px;

}


#hangman .head {
    width: 37px;
    height: 45px;
    border-radius: 100%;
    background: none;
    border:solid 8px #FAEDF0;
    float:left;
    margin-top: -308px;
    margin-left: 110px;
}

#hangman .body {
    height: 84px;
    float: left;
    margin-top: -248px;
    margin-left: 132px;
}

#hangman .right-arm {
    margin-left: 111px;
    float: left;
    height: 50px;
    margin-top: -256px;
    transform: rotate(
134deg
);
}

#hangman .left-arm {
    margin-left: 155px;
    float: left;
    height: 50px;
    margin-top: -256px;
    transform: rotate( 
45deg
 );
}

#hangman .right-leg {
    margin-left: 109px;
    float: left;
    height: 74px;
    margin-top: -169px;
    transform: rotate(
        36deg
        );
}

#hangman .left-leg {
    margin-left: 155px;
    float: left;
    height: 74px;
    margin-top: -169px;
    transform: rotate(
144deg
)
}#hangman .bottom-bar {
    float:left;
    width: 207px;
}

#hangman .life {
    display: none;
}

#word {
    float: left;
    margin-top: 20px;
    font-size: 30px;
}

.letter {
    border-bottom: solid #FAEDF0;
}

#form {
    margin-top: 80px;
    display: inline-block;
}
.submit-button {
    font-family: inherit;
    background: inherit;
    color: inherit;
    font-size: 19px;
    margin-top: 10px;
}

.submit-button:hover {
    font-family: inherit;
    background: #FAEDF0;
    color: #406343;
    font-size: 20px;
}

#letter-guess {
    font-family: inherit;
    font-size: 21px;
    width: 33px;
    text-align: center;
    
}

.guess {
    font-size: 19px;
}

.winner-screen {
    font-size: 22px;
    margin-top: -503px;
    text-align: center;
    padding-top: 31px;
    background-color: #406343;
    height: 26vh;
    width: 100%;
    justify-content: center;
    border: 2px groove #FAEDF0;
}

#loser-screen {
    font-size: 22px;
    margin-top: -503px;
    text-align: center;
    padding-top: 31px;
    background-color: #406343;
    height: 26vh;
    width: 100%;
    justify-content: center;
    border: 2px groove #FAEDF0;
    z-index: 9999;
    position: relative;
}

.hide {
    display: none;
}

@media screen and (max-width: 620px)  {
    .hidden-word {
        margin: 0px 9px;
    }

    #word {
        font-size: 25px;
    }
}


@media screen and (max-width: 450px)  {
    .hidden-word {
        margin: 0px 3px;
    }

    #word {
        font-size: 20px;
    }
}

@media screen and (max-width: 356px)  {

    #subject-choice-button{
        font-size: 17px;
    }

    #heading {
        font-size: 218%;
    }

    #subject-choice-button:hover{
        font-size:17px;
    }

    #button-rules{
        font-size: 17px;
    }

    #button-rules:hover{
        font-size: 17px;
    }
}
